*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}
a:hover span{
    color: #009344;
}
span {
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}
p{
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}

section{
    margin-left: 340px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 1224px;
}

h2{
    font-size: 48px;
    font-family: Oswald;
    text-wrap: nowrap;
}
h3{
    margin-top: 30px;
    font-size: 24px;
    font-family: Oswald;
    text-wrap: nowrap;
}
section p{
    text-align: justify;
    text-wrap: wrap;
    color: #58595B;
}
.speci{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.pari{
    display: flex;
    flex-direction: column;
}
.speci p{
    margin-left: 30px;
    margin-bottom: 30px;
}

.devices{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

li{
    font-family: "Oswald";
    font-size: 24px;
    color: #009344;
}
.list{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
section img{
    border-radius: 20px;
    border: 2px solid;
    border-color: #009344;
    width: 300px;
    height: 400px;
}
.services{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.services img{
    margin-right: 60px;
}
.list p{
    margin-bottom: 30px;
}
.citis{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.citis p{
    margin-right: 30px;
}