@media (max-width: 480px) {
    p{
        font-size: 14px;
    }
    span{
        font-size: 14px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    .timepanel{
        padding-right: 0;
        justify-content: center;
    }
    .navpanel{
        height: 60px;
        width: 400px;
    }
    .navpanel .navbar {
        display: none;
    }
    .navpanel .alogo{
        width: auto;
        height: auto;
        margin-left: 10px;
    }
    .logo{
        height: 32px;
        width: 32px;
    }
 
    .toplogo .name{
        display: none;
    }
    .toplogo img{
        margin: 0;
        width: 32px;
        height: 32px;
    }
    .botlogo .botext{
        display: none;
    }
    section{
        width: auto;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 20px;
    }
    .main{
        width: auto;
    }
    .teethlow{
        display: none;
    }
    .teethigh .tooth2{
        display: none;
    }
    .teethigh .tooth1{
        width: 300px;
        height: auto;
        margin: 0 auto 0 auto;
        display: flex;
    }
    .matter{
        margin-top: 10px;
    }
    .matter li{
        font-size: 14px;
        list-style-type: none;
    }
    .matter .sign{
        margin-top: 10px;
        height: 60px;
    }
    .sidebar{
        display: none;
    }
    .usereview{
        width: auto;
        margin-top: 20px;
    }
    .infblocks{
        flex-direction: column;
    }
    .infblocks a{
        margin-top: 10px;
    }
    .bl1{
        width: auto;
        height: 200px;
        margin: 0;
    }
    .bl2{
        width: auto;
        height: 200px;
        margin: 0;
    }
    .bl3{
        width: auto;
        height: 200px;
    }
    .signfields{
        flex-direction: column;
        align-items: flex-start;
    }
    .signing{
        width: auto;
        margin-top: 20px;
    }
    .signame{
        margin: 0;
    }
    .signphone{
        margin: 0;
    }
    .usefull{
        margin-top: 0;
    }
    
    
    .reviews{
        display: none;
    }
    .contactpanel{
        display: none;
    }
    
    
    .fields .colfields{
        flex-direction: column;
    }
    .rowfield{
        align-self: center;
    }
    .usereview a{
        justify-self: center;
    }
    input{
        height: min-content;
        font-size: 14px;
    }
    
    input::placeholder{
        font-size: 14px;
    }
    .tbox img{
        height: 16px;
    }
    .fieldcon img{
        height: 16px;
    }
    .textbox{
        align-self: center;
        width: 100%;
    }

    .textbox textarea{
        font-size: 14px;
        width: 100%;
    }
    textarea::placeholder{
        font-size: 14px;
    }
    .rowfield:nth-child(1){
        margin-right: 0;
    }
    
    .pers:nth-child(1){
        display: none;
    }
    .pers:nth-child(2){
        display: flex;
    }
    .usefull p{
        display: none;
    }
    .infblocks p{
        display: flex;
    }
    .signing h2{
        margin-bottom: 10px;
    }
    .signing p{
        margin-bottom: 10px;
    }
    .signame .tbox input{
        width: 300px;
    }
    .signfields a{
        align-self: center;
    }
    .doctors{
        margin-top: 10px;
        width: auto;
    }
    .doctors h2{
        margin-bottom: 10px;
    }
    .doctors p{
        display: none;
    }
    .doctors .carousel-container{
        display: none;
    }
    .docfotos{
        width: auto;
        margin-top: 0;
        flex-wrap: wrap;
    }
    .docfotos img{
        width: 180px;
        height: auto;
    }
    .docfotos a{
        
        margin-bottom: 10px;
    }
    .docfotos a:last-child{
        display: none;
    }
    

    .mainfoot{
        width: 400px;
        height: 400px;
    }
    .leftfoot{
        width: 180px;
        margin-right: 20px;
        padding-left: 20px;
    }
    .rightfoot{
        margin-top: 20px;
        width: 180px;
    }
    .rightfoot img{
        width: 14px;
        height: auto;
    }
    .rightfoot span{
        margin-left: 10px;
    }
    .ph{
        margin-bottom: 10px;
    }
    .leftfoot p{
        display: none;
    }
    .nava{
        width: 60px;
        margin: 0;
        flex-wrap: wrap;
        justify-self: end;
    }
    .leftfoot a{
        margin-top: 20px;
    }
    .leftfoot span{
        margin-top: 10px;
        text-wrap: wrap;
    }
    .nava a{
        width: min-content;
        margin: 0;
    }
    .nava span{
        text-wrap: nowrap;
    }
    .nava img{
        width: 14px;
        height: auto;
    }
    .mir{
        display: none;
    }
    .burgerbutt{
        display: flex;
    }
    .menu{
        display: block;
    }

    .speci{
        margin-top: 10px;
    }
    section img{
        width: auto;
        height: 200px;
    }
    .speci p{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .devices{
        margin-top: 10px;
    }
    .list{
        margin-right: 10px;
    }
    .list p{
        margin-bottom: 10px;
    }
    li{
        font-size: 14px;
        list-style-type: none;
    }
    .services{
        margin-top: 10px;
    }
    .services img{
        margin-right: 10px;
    }
    .citis{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .citis p{
        margin-right: 10px;
    }

    .doubleblock{
        flex-direction: column;
    }
    .serblock{
        width: auto;
        margin-top: 10px;
    }
    .serblock img{
        width: 160px;
        height: 160px;
        margin-right: 10px;
    }
    li a{
        font-size: 14px;
    }
    .adult{
        margin-bottom: 10px;
    }
    .addres{
        margin-top: 10px;
    }
    select{
        font-size: 14px;
    }
    option{
        font-size: 14px;
    }
    .docards{
        width: auto;
    }
    .writel{
        padding: 10px;
    }
    .writel img{
        margin: 0 10px 0 auto;
        height: auto;
    }
    .writel span{
        margin: 0;
    }

    .card p{
        display: flex;
    }
    .docards{
        margin-top: 10px;
    }
    .card:nth-child(odd){
        margin: 0 0 20px 0;
    }
    .card{
        width: auto;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .caright{
        margin-left: 10px;
    }
    .docimg{
        height: auto;
    }
    .docimg img{
        height: 160px;
    }
    .addcon{
        width: min-content;
    }

    .sign{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .signfields{
        margin-right: 10px;
    }
    .fieldcon{
        width: 100%;
        height: min-content;
    }
    .signfo{
        display: none;
    }
    .fieldbl{
        margin-top: 10px;
    }
    textarea{
        font-size: 14px;
    }
}