*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}
a:hover span{
    color: #009344;
}
span {
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}
p{
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}

section{
    margin-left: 340px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 1224px;
}

h2{
    font-size: 48px;
    font-family: Oswald;
    text-wrap: nowrap;
}
h3{
    font-size: 24px;
    font-family: Oswald;
    text-wrap: nowrap;
    color: #58595B;
}
section p{
    text-align: justify;
    text-wrap: wrap;
    color: #58595B;
}
.adult{
    display: flex;
    flex-direction: column;
}
.doubleblock{
    display: flex;
    flex-direction: row;
}
.serblock{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
li{
    font-family: "Oswald";
    font-size: 24px;
    color: #009344;
}
li a{
    font-family: "Oswald";
    font-size: 24px;
    color: #009344;
}
.service ul{
    list-style-type: none;
}
.doubleblock{
    justify-content: space-between;
}
.serblock{
    width: 560px;
}
.serblock img{
    border: 2px solid;
    border-radius: 20px;
    color: #009344;
    margin-right: 30px;
    height: 300px;
    width: 280px;
}