*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}
a:hover span{
    color: #009344;
}
span {
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}
p{
    font-family: Oswald;
    font-size: 24px;
    text-wrap: nowrap;
}

section{
    justify-self: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 48px;
    font-family: Oswald;
    text-wrap: nowrap;
}
h3{
    font-size: 24px;
    font-family: Oswald;
    text-wrap: nowrap;
}
section p{
    text-align: justify;
    text-wrap: wrap;
    color: rgba(0, 0, 0, 0.6);
    
}

.fieldbl{
    margin-top: 30px;
}
.fieldbl:nth-child(1){
    margin: 0;
}
.fieldcon{
    border: #009344 2px solid;
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
    width: 432px;
    box-sizing: border-box;
    display: flex;
}
select{
    font-family: Oswald;
    font-size: 24px;
    color: #C4C4C4;
    border: none;
    width: 100%;
    display: block;
}

option{
    font-family: Oswald;
    font-size: 24px;
    color: black;
}
select option:first-child{
    color: #C4C4C4;
}
input{
    font-family: Oswald;
    font-size: 24px;
    border: none;
    display: block;
    width: 100%;
}
.username::placeholder{
    color: #C4C4C4;
}

.username{
    margin-left: 15px;
}
.fieldcon img{
    width: 24px;
}
textarea{
    font-family: Oswald;
    font-size: 24px;
    border: none;
    display: block;
    width: 100%;
    height: 280px;
}
textarea::placeholder{
    padding-top: 30%;
    color: #C4C4C4;
    text-align: center;
    
}
.sign{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.signfields{
    margin-right: 30px;
}
.signfo img{
    margin-top: 60px;
}
.signfo p{
    max-width: 816px;
}

.writel{
    padding: 20px;
    display: flex;
    margin: 0;
    background-color: #009344;
    border-radius: 20px;
    justify-content: center;
}
.writel .write{
    color: white;
}